<div class="oe_styling_v8">
    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <div class="oe_span12 text-center">
                <div style="text-align: center; margin-top:30px; margin-bottom:30px;"><a href="https://www.appjetty.com/odoo-development.htm" style="display: inline-block; margin:auto; background: #875A7B; color: #fff; font-weight: bold; font-size: 18px; padding: 0 33px; line-height: 45px; border-radius: 5px;">Get Free Odoo Consultancy</a></div>
                <h1 class="text-danger" style="margin-bottom: 20px;"><strong>Easily manage and customize templates for Invoices, Sales Orders, Purchase Orders, Request for Quotation, Delivery Notes & Picking Operation List</strong></h1>
                <h4 class="text-muted lead">AppJetty has come up with a powerful Odoo all in one report template app to handle multiple reports attached with an e-commerce store. Clever All In One Report Templates app will help you maintain all your reports in a hassle-free way. Admin can manage templates of Invoices, Sales Orders, Purchase Orders, Request For Quotation, Delivery Notes and Picking Operation List. This Odoo multiple report templates app allows admin to choose report templates from inbuilt 6 types of references. Admin can also customize any templates if required. They can choose default templates for any of the reports. Admin can choose different colors with Color Picker; set different templates for different customers.
                </h4>
            </div>
        </div>
    </section>

    <section class="oe_container oe_dark">
        <div class="row">
            <div class="container">
                <div style="padding:10px 20px;">
                    <h1 class="text-center text-danger"><strong> Building Blocks</strong></h1>
                    <div class="col-md-12 mb32">
                        <div class="col-md-4">
                            <div class="text-center">
                                <div class="dt-iconboxes layout-6 text-center">
                                    <i class="fa fa-sliders fa-4x" aria-hidden="true" style="margin: 20px 0px;"></i>
                                    <h4>Manage Styles of All Report Fields</h4>
                                    <div class="dt-iconboxes-text">
                                        <p style="text-align: justify;">Admin can choose template configurations for numerous report fields ranging from water mark to company name & color</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <div class="dt-iconboxes layout-6 text-center">
                                    <i class="fa fa-file-text-o fa-4x" aria-hidden="true" style="margin: 20px 0px;"></i>
                                    <h4>Numerous Report Templates Styles</h4>
                                    <div class="dt-iconboxes-text">
                                        <p style="text-align: justify;">Admin will be able to choose printing styles of various report form from 6 different types of attractive template styles
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-tasks fa-4x" aria-hidden="true" style="margin: 20px 0px;"></i>
                                    <h4>Manage Various Report Types</h4>
                                    <div class="dt-iconboxes-text">
                                        <p style="text-align: justify;">Admin will be able to choose and print various reports of odoo system from Invoices to Picking / Delivery list 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-cogs fa-4x" aria-hidden="true" style="margin: 20px 0px;"></i>
                                    <h4>Configurable Report Templates</h4>
                                    <div class="dt-iconboxes-text">
                                        <p style="text-align: justify;">Admin will be able to configure each and every of the Six report templates which are provided with Clever All in One Report Templates</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-users fa-4x" aria-hidden="true" style="margin: 20px 0px;"></i>
                                    <h4>Configurable Report Styles for Each Customers</h4>
                                    <div class="dt-iconboxes-text">
                                        <p style="text-align: justify;">Admin will be able to set default template style for every store customer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-sort fa-4x" style="margin: 20px 0px;"></i>
                                    <h4>Default Template for Every Report</h4>
                                    <div class="dt-iconboxes-text">
                                        <p style="text-align: justify;">Admin can opt for default template setting for every report and print reports in that style
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-language fa-4x" aria-hidden="true" style="margin: 20px 0px;"></i>
                                    <h4>Print Reports in Various Languages</h4>
                                    <div class="dt-iconboxes-text">
                                        <p style="text-align: justify;">Print reports in various languages like French (Francis), German (Deutsch), Arabic & Dutch / Nederlands
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-thumbs-o-up fa-4x" aria-hidden="true" style="margin: 20px 0px;"></i>
                                    <h4>One Time Setup</h4>
                                    <div class="dt-iconboxes-text">
                                        <p style="text-align: justify;">Just set up this odoo report customization app once in your odoo back end and you are ready to go
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-life-ring fa-4x" aria-hidden="true" style="margin: 20px 0px;"></i>
                                    <h4>Fast Support</h4>
                                    <div class="dt-iconboxes-text">
                                        <p style="text-align: justify;">For Clever All in One Report Templates AppJetty will provide fast and reliable support for quick resolving of your queries</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-text-width fa-4x" aria-hidden="true" style="margin: 20px 0px;"></i>
                                    <h4>Amount in Words</h4>
                                    <div class="dt-iconboxes-text">
                                        <p style="text-align: justify;">Now it is possible to automatically convert the Invoice/Quote/Sales Order/RFQ/Purchase Order amount into words. The amount in words can be displayed in languages like French (Francis), German (Deutsch), Arabic & Dutch / Nederlands.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <div class="dt-iconboxes layout-6">
                                    <i class="fa fa-picture-o fa-4x" aria-hidden="true" style="margin: 20px 0px;"></i>
                                    <h4>Product Image</h4>
                                    <div class="dt-iconboxes-text">
                                        <p style="text-align: justify;">Now it is possible to display product image in Invoice/Quote/Sales Order/RFQ/Purchase Order report.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container">
        <div class="oe_row oe_spaced">
            <h1 class="text-danger" style="text-align: center;padding-bottom: 40px;"><strong> Overview of Report Templates</strong></h1>

            <div class="oe_span6">
                <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Quotation / Order report</span>
                <img class="img-border img-responsive thumbnail" src="quotation.gif" />
            </div>

            <div class="oe_span6">
                <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Purchase Order report</span>
                <img class="img-border img-responsive thumbnail" src="purchase.gif" />
            </div>

            <hr style="width: 100%;float: left;">


            <div class="clearfix"></div>

            <div class="oe_span6">
                <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Request for Quotation report</span>
                <img class="img-border img-responsive thumbnail" src="request.gif" />
            </div>

            <div class="oe_span6">
                <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Invoice for numerous report</span>
                <img class="img-border img-responsive thumbnail" src="invoice.gif" />
            </div>

            <hr style="width: 100%;float: left;">

            <div class="clearfix"></div>

            <div class="oe_span6">
                <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Delivery Note for numerous report</span>
                <img class="img-border img-responsive thumbnail" src="delivery.gif" />
            </div>

            <div class="oe_span6">
                <span class="text-info" style="padding-bottom: 20px;display: block;font-weight: 600;">Picking List for numerous report</span>
                <img class="img-border img-responsive thumbnail" src="picking.gif" />
            </div>
        </div>
    </section>

    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <div class="panel panel-primary" style="padding:10px 20px;">
                    <h1 class="text-danger"><strong> Core Features</strong></h1>
                    <h3 class="text-danger"><strong> Setting Configurations:</strong></h1>
                    <ul class="list-unstyled lead">
                        <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Easy One Time Setup</span>
                            <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 25px; margin-top: 5px;">
                                <li>The Clever All In One Report Templates app will be configured easily in your Odoo store.</li>
                            </ul>
                        </li>

                        <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Full admin Control over Multiple Report Fields</span>
                            <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 10px; margin-top: 5px;">
                                <li>With Odoo custom report module admin can manipulate following fields of the Report templates. Admin will be able to choose Standard template configuration and then can change its configurations upon requirement.  Admin can set Template Base Color, Template Text Color, General Text Color, Company Name and Address Color, Customer Name and Address Color, Table Odd and Even Parity Color, Report Logo, Report Watermark Logo, Display Company Name in Bold and Display Customer Name in Bold.</li>
                                <li>Admin can choose whether product description is needed on the invoice or not. Admin can also choose company name &amp; customer name will be displayed in bold or not on the invoice. Admin can also add company logo and water mark in the report.</li>
                                <li>The default configuration of all the fields of report templates will be based on the chosen Standard Template Configuration.</li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <img class="img-border img-responsive thumbnail" src="configs.jpg" />
            </div>
        </div>
    </section>

    <section class="oe_container lead oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Set Default templates for every reports</span>
                        <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 10px; margin-top: 5px;">
                        <li>
                            Admin will be able to set default templates for multiple reports like:
                                <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 10px; margin-top: 5px;">
                                    <li>Sales Orders</li>
                                    <li>Purchase Orders</li>
                                    <li>Requests for Quotation</li>
                                    <li>Invoices</li>
                                    <li>Delivery Notes</li>
                                    <li>Picking List</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
                <img class="img-border img-responsive thumbnail" src="multi_inovice.png" />
            </div>
        </div>
    </section>

    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Multiple Report Templates to Choose From</span>
                        <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 10px; margin-top: 5px;">
                            <li>Admin can choose from 8 eye-catching templates and can manipulate it as per the requirements.</li>
                            <li>For the Templates, First priority for templates set on individual object, if not then set on decided for customer and after then set on decided for company. If everything is not set Contemporary Templates will be used.</li>
                            <li>View the preview of report templates while setting it for quick view of how the report will look like.</li>
                        </ul>
                    </li>
                    
                </ul>
                <img class="img-border img-responsive thumbnail" src="default_template.png"/>
            </div>
        </div>
    </section>

    <section class="oe_container lead oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Different Report Templates for Different Customers</span>
                        <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 10px; margin-top: 5px;">
                            <li>Admin can set Different Report Templates for different Customers with Odoo Multiple Report Templates.</li>
                        </ul>
                    </li>
                    
                </ul>
                <img class="img-border img-responsive thumbnail" src="partner_template.png" />
            </div>
        </div>
    </section>

    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Configurable Footer Option</span>
                        <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 10px; margin-top: 5px;">
                            <li>Admin can set custom text for the footer in the Invoice with help of Clever All In One Report Templates. Admin can also select paper size for the printing of invoice.</li>
                        </ul>
                    </li>
                </ul>
                <img class="img-border img-responsive thumbnail" src="footer.png" style="margin: 0px auto;" />
            </div>
        </div>
    </section>

    <section class="oe_container lead oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Color Picker to set Text Colors</span>
                        <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 10px; margin-top: 5px;">
                            <li>Admin can choose any color for the editable text fields with the color picker and HEX Codes provided by Odoo All In One Report Templates.</li>
                        </ul>
                    </li>
                </ul>
                <img class="img-border img-responsive thumbnail" src="color_picker.jpg" />
            </div>
        </div>
    </section>

    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Stay Up to Date with Order Payments</span>
                        <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 10px; margin-top: 5px;">
                            <li> With the Clever All In One Report Templates admin has the facility to keep track of all the payments provided by customer for the products.</li>
                        </ul>
                    </li>
                </ul>
                <img class="img-border img-responsive thumbnail" src="payment.png" />
            </div>
        </div>
    </section>

    <section class="oe_container lead oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Multiple Printing Options Supported</span>
                    <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 10px; margin-top: 5px;">
                        <li>With Odoo Multiple Report Templates module admin can generate PDF for the Reports and print them.</li>
                        <li>Admin can print the Invoice with the configured templates from 3 places:
                            <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 10px; margin-top: 5px;">
                                <li>From top menu in invoice form</li>
                                <li>From print button in invoice form</li>
                                <li>From top duplicate menu in invoice form</li>
                            </ul>
                        </li>
                    </ul>
                    </li>
                </ul>
                <img class="img-border img-responsive thumbnail" src="print_menu.png" />
            </div>
        </div>
    </section>

    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Support for Duplicated Invoices</span>
                        <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 10px; margin-top: 5px;">
                            <li>Clever All In One Report Templates supports possibility to print Duplicate Invoices. When duplicate invoices are generated, DUPLICATE will be displayed on the top header.</li>
                        </ul>
                    </li>
                </ul>
                <img class="img-border img-responsive thumbnail" src="duplicate_invoice.png" />
            </div>
        </div>
    </section>

    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Print Report in Various Languages</span>
                        <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 10px; margin-top: 5px;">
                            <li>With Odoo Clever All in One Report Templates admin will be able to print report in various languages like French (Francis), German (Deutsch), Arabic & Dutch / Nederlands based on Customer’s set language.</li>
                        </ul>
                    </li>
                </ul>
                <img class="img-border img-responsive thumbnail" src="final_invoice.png" />
            </div>
        </div>
    </section>

    <section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
                <ul class="list-unstyled lead">
                    <li><i class="fa fa-arrow-right text-info"></i> <span class="text-info">Print Report With Product Picture and Amount in Words</span>
                        <ul style="padding-left: 30px; font-size: 16px; margin-bottom: 10px; margin-top: 5px;">
                            <li>With Clever All in One Report Templates in Odoo, admin will be able to print amount to words and product image for report in various languages like French (Francis), German (Deutsch), Arabic & Dutch / Nederlands based on Customer’s set language.</li>
                        </ul>
                    </li>
                </ul>
                <img class="img-border img-responsive thumbnail" src="amount-to-ward.png" />
            </div>
        </div>
    </section>


    <p style="color:red;" class="text-center">NOTE:<br/>Watermark &amp; Duplicate feature is not provided for Odoo v8.0.<br/>
        Delivery Note Report is only available in v9.<br/>
        <br/>You must need to install module <a href="https://github.com/OCA/web/blob/10.0/web_widget_color" target="new">Web Widget Color</a> before install this module.<br/>
    </p>
</div>

<!-- <section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="clearfix"></div>
        <h2 style="padding-bottom: 20px;" class="oe_slogan text-center text-info">You may also like</h2>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <a href="https://www.odoo.com/apps/modules/9.0/custom_product_image_gallery">
                <img class="img-border img-responsive thumbnail" src="custom-product-image-gallery_store.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://www.odoo.com/apps/modules/9.0/australia_post_shipping">
                <img class="img-border img-responsive thumbnail" src="australian-post-shipping.png" />
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://www.odoo.com/apps/modules/9.0/website_brand_slider">
                <img class="img-border img-responsive thumbnail" src="website_brand_slider.png" />
            </a>
        </div>
    </div>
</section>
<div class="oe_row section-content">
    <div class="col-md-6 img-content">
        <h3>Our Odoo Services</h3>
    </div>
    <div class="bc-span col-md-12">
        <div class="inner-span">
            <a target="_blank" href="https://goo.gl/zh1LPu">
                <img class="img-border img-responsive thumbnail" src="service-banner.png" />
            </a>
        </div>
    </div>
</div>
<div class="oe_row section-content">
    <div class="col-md-12 img-content text-center">
        <h2>Technical Help &amp; Support</h2>
        <p style="margin: 30px 0px;">We offer extremely convenient and quick support service to all your technical help &amp; support requests. As our support <br /> service is the parameter defining the success of our business and earning us the brand name.       <br />    Please feel free to contact us</p>
        <div class="text-center">
            <a style="background: #03aee4  none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-color: #03aee4;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@appjetty.com">
                <i class="fa fa-envelope"></i>  support@appjetty.com </a>
        </div>
        <br />
    </div>
</div> -->

<section class="tech-help-suport" style="margin-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="tech-help-support.png" class="img-responsive" alt=""/>
                </div>
                <div class="col-md-9">
                    <h3 style=" font-size: 32px; font-weight: 700; color: #21272b; margin-top: 0;">Technical Help &amp; Support</h3>
                    <p style="font-size: 16px; font-weight: 400; color: #21272b; margin: 40px 0 15px;">We offer extremely convenient and quick support service to all your technical help &amp; support requests. As our support service is the parameter defining the success of our business and earning us the brand name. Please feel free to contact us</p>
                    <div class="tech-suport-inner" style="background: #f1f1f1; padding:20px">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="mailto:support@appjetty.com" style="display: block; position: relative; padding-left: 35px; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none; margin-bottom: 10px;"><i class="fa fa-envelope" aria-hidden="true" style=" left: 0; font-size: 22px; color: #b5b5b5; position: absolute; top: 1.5px;"></i>support@appjetty.com</a>
                                <a href="skype:support.biztech" style="display: block; padding-left: 35px; position: relative; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none;"><i class="fa fa-skype" aria-hidden="true" style=" font-size: 22px; color: #b5b5b5; position: absolute; top: 1.5px; left: 0;"></i>support.biztech</a>
                            </div>
                            <div class="col-md-6">
                                <a href="tel:14083299693" style="display: block; padding-left: 35px; position: relative; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none;"><i class="fa fa-phone" aria-hidden="true" style=" font-size: 22px; color: #b5b5b5; position: absolute; top: 1.5px; left: 0;"></i>US : +1 (408) 329-9693</a>
                                <a href="tel:442038932693" style="display: block; padding-left: 35px; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none;">UK : +44 20 3893 2693</a>
                                <a href="tel:919106747559" style="display: block; padding-left: 35px; font-size: 16px; color: #1d406b; font-weight: 600; text-decoration: none;">India : +91-91067 47559</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="e-odoo-theme text-center" style="padding:50px 20px; max-width: 1170px; background: #f1f1f1; margin: auto; margin-top: 50px;">
        <div class="container">
            <h3 style=" font-size: 32px; font-weight: 700; color: #21272b; margin-bottom: 40px; margin-top: 0;">Our Odoo eCommerce Themes</h3>
            <div class="row">
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/themes/11.0/theme_crafito" target="_blank"><img src="crafito-theme.jpg" class="img-responsive" alt="Crafito theme" style="margin: auto;"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Crafito</h4>
                </div>
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/themes/11.0/kingfisher_pro" target="_blank"><img src="kingfisher-theme.jpg" class="img-responsive" style="margin: auto;" alt="Kingfisher theme"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Kingfisher<br/>Pro Fashion</h4>
                </div>
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/themes/11.0/falcon_material_backend_theme/" target="_blank"><img src="falcon-theme.jpg" class="img-responsive" style="margin: auto;" alt="Falcon theme"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Falcon Material<br/>Backend Theme</h4>
                </div>
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/themes/11.0/theme_mobicraft" target="_blank"><img src="crafito-lite-theme.jpg" class="img-responsive" style="margin: auto;" alt=" Crafito lite theme"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">MobiCraft</h4>
                </div>
            </div>
            <div class="view-more-link">
                <a href="https://apps.odoo.com/apps/themes/browse?author=AppJetty" target="_blank" style="display: inline-block; background: #03aee4; font-size: 18px; color: #ffffff; font-weight: 700; padding: 0 33px; line-height: 37px; border-radius: 5px; text-decoration: none; margin-top: 40px;">View More</a>
            </div>
        </div>
    </section>
    <section class="e-odoo-apps text-center" style="max-width: 1170px; margin: auto; margin-top: 50px; margin-bottom: 50px;">
        <div class="container">
            <h3 style=" font-size: 32px; font-weight: 700; color: #21272b; margin-bottom: 40px; margin-top: 0;">Our Odoo eCommerce Apps</h3>
            <div class="row">
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/modules/11.0/biztech_website_megamenu" target="_blank"><img src="mega-menu-app.png" class="img-responsive" style="margin: auto;" alt="Mega Menu App"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Mega Menu</h4>
                </div>
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/modules/11.0/seo_data_manager" target="_blank"><img src="seo-suit-app.png" class="img-responsive" style="margin: auto;" alt="SEO suit app"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">SEO Suite</h4>
                </div>
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/modules/11.0/general_template" target="_blank"><img src="clever-a-o-report.png" class="img-responsive" style="margin: auto;" alt="Clever all in one report app"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Clever All In One<br/>Report Templates</h4>
                </div>
                <div class="col-md-3">
                    <a href="https://apps.odoo.com/apps/modules/11.0/biztech_report_template" target="_blank"><img src="clever-in-mul-templet.png" class="img-responsive" style="margin: auto;" alt="Clever all in one report app"/></a>
                    <h4 style="margin-top: 20px; font-size: 17px; color: #21272b; font-weight: 700; margin-bottom: 0;">Clever Multiple<br/>Invoice Template</h4>
                </div>
            </div>
            <div class="view-more-link">
                <a href="https://apps.odoo.com/apps/modules/browse?author=AppJetty" target="_blank" style="display: inline-block; background: #03aee4; font-size: 18px; color: #ffffff; font-weight: 700; padding: 0 33px; line-height: 37px; border-radius: 5px; text-decoration: none; margin-top: 40px;">View More</a>
            </div>
        </div>
    </section>
    <section class="odoo-footer text-center" style="max-width: 1170px; margin: auto; background: #f1f1f1; padding: 50px 15px; margin-bottom: 50px;">
        <div class="container">
            <div class="row top-row">
                <div class="col-md-6" style=" border-right: 1px solid #e2e2e2;">
                    <img src="brand-logo.png" class="img-responsive" alt="Appjetty and biztech logo" style="display:inline-block;vertical-align: top;"/>
                </div>
                <div class="col-md-6 img-partner">
                    <img src="odoo-ready-partner.png" class="img-responsive" alt="Odoo partner logo" style="display:inline-block;vertical-align: top;"/>
                    <a href="https://clutch.co/profile/biztech-consulting-solutions" target="_blank" style="padding-left: 50px; display:inline-block; vertical-align: top;"><img src="clutch-review.png" class="img-responsive" alt="Clutch review"/></a>
                </div>
            </div>
            <div class="bottom-row" style="margin-top: 30px;"><hr style="border-top:1px solid #e2e2e2;" /></div>
            <div class="row footer-heading">
                <h3 class="center-contain" style=" font-size: 32px; font-weight: 700; color: #21272b; margin: auto; padding: 0 0 20px; ">Our Services</h3>
            </div>
            <div class="row footer-services toprow" style="text-align: left;">
                <div class="col-md-4">
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Website Development</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo App Development</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Implementation</h5>
                </div>
                <div class="col-md-4 foot-second-row">
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Customization</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Store Development</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Theme Development</h5>
                </div>
                <div class="col-md-4">
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Module Development</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style="color: #03ade3; font-size: 20px; margin-right: 10px;"></i>Odoo Integration</h5>
                </div>
            </div>
            <div class="bottom-row" style="margin-top: 30px;"><hr style="border-top:1px solid #e2e2e2;"/></div>
            <div class="row footer-services lastrow" style="text-align: left;">
                <div class="col-md-4">
                    <div class="why-biz-ratio" style=" background: #03ade3; padding: 25px;  margin-top: 10px;">
                        <h3 style="margin-top: 0; font-size: 28px; font-weight: 700; color: #fff; margin-bottom: 20px;">Over 90% Retention Ratio for Clients</h3>
                        <p style="color: #ffffff; margin-bottom: 0;">We have successfully built and managed Odoo applications for over a decade. Our team of 155+ professionals and 30+ Odoo developers are committed to add value to your team.</p>
                    </div>
                </div>
                <div class="col-md-4 foot-second-row">
                    <h3 class="footer-heading" style=" font-size: 32px; font-weight: 700; color: #21272b; margin-bottom: 35px;  margin-top: 10px;">Why Biztech?</h3>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>11+ Years of Experience</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Certified team of Odoo Developers</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>155+ Skilled Developers</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>100% Confidentiality (Strict NDA Terms)</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Ecommerce Experts</h5>
                </div>
                <div class="col-md-4">
                    <h3 class="footer-heading" style=" font-size: 32px; font-weight: 700; color: #21272b; margin-bottom: 35px;  margin-top: 10px;">Odoo Benefits</h3>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Flexible Approach</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Customized Odoo Products</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Lower Set-up Costs</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Source Code Authorization</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Complete Control Over the Resources</h5>
                    <h5><i class="fa fa-check" aria-hidden="true" style=" color: rgb(133, 198, 72); font-size: 20px; margin-right: 10px;"></i>Security and IP Protection</h5>
                </div>
            </div>
            <div class="view-more-link">
                <a href="https://www.biztechcs.com/odoo-development" target="_blank" style="display: inline-block; background: #03aee4; font-size: 18px; color: #ffffff; font-weight: 700; padding: 0 33px; line-height: 37px; border-radius: 5px; text-decoration: none; margin-top: 40px;"> Here to Help You!</a>
            </div>
        </div>
    </section>
