<head>
  <style>
      .backgrounds{background-color:#fff; color:#0B80E6}
  </style>
</head>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_mt32 mb32">
            <h2 class="oe_slogan">Calculator on Odoo Web-backend.</h2>
            <h3 class="oe_slogan">When we are doing daily routin work on odoo many times we need to use calculator for some calculations. In such cases we need to find caculator on our system. <br/>Here We have developed easy way to use calculator on odoo backend by integrating Calender on web. Just install module and enjoy functionality no extra configurations are required.</h3>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <a href="http://www.almightycs.com/blog/news-1/post/calculator-on-web-backend-odoo-11" target="_blank">
                <img src="odoo_web_calculator.png" width="100%">
            </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.almightycs.com" target="_blank">
                    <img src="yoo.png" width="200" height="auto">
                </a>
                <div class="oe_demo_footer oe_centeralign">Meet Us</div>
            </div>
        </div>
        <div class="oe_span6">
            <h2 class="oe_slogan">Do you need help?</h2>
            <h3 class="oe_slogan">
                Let's offer you the best services!
            </h3>
            <p class="oe_mt32 text-center">
                Contact us by our official channels.
            </p>
            <p class="oe_mt32 text-center">
                Skype: turkesh4friends 
            </p>
            <div class="oe_spaced">
                <ul class="text-center list-inline">
                    <li>
                        <a href="https://in.linkedin.com/pub/patel-turkesh/1b/51b/32b" Target="_blank"><i class="fa fa-linkedin-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/public/Turkesh-Patel" Target="_blank"><i class="fa fa-facebook-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/tpa-odoo" Target="_blank"><i class="fa fa-github-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+TurkeshPatel" Target="_blank"><i class="fa fa-google-plus-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/turkeshpatel?lang=en" Target="_blank" ><i class="fa fa-twitter-square fa-xs backgrounds"></i></a>
                    </li>

                    <li>
                        <a title="Contact us" data-toggle="tooltip" data-placement="left" Target="_blank" href="http://www.almightycs.com/page/website.contactus"><i class="fa fa-envelope-square fa-xs backgrounds"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

