<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">POS Auto Invoice</h2>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="icon.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                <td style="padding-left: 15px;">
                    <div class="oe_author">
                        <p>TL Technology</p>
                        <p>Website: <a href="http://posodoo.com">http://posodoo.com</a></p>
                        <p>Contact: <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=thanhchatvn@gmail.com" target="_blank">thanhchatvn@gmail.com</a></p>
                    </div>
                </td>
            </p>
        </div>
    </div>
</section>

<div class="panel-heading">
    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;"><i class="fa fa-arrow-circle-o-right"></i>
        <b> Functions </b></div>
    <ul class="list-unstyled ">
        <li style="font-size:initial"><i class="fa fa-check text-primary"></i>
            From Payment method define option auto invoice and register payment configuration
        </li>
        <li style="font-size:initial"><i class="fa fa-check text-primary"></i>
            When cashier submit new pos order, order will processing Invoiced and made one invoice paid status
        </li>
    </ul>
</div>


<div class="panel-heading">
    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
        Add some payment method
    </div>
    <div class="oe_screenshot" style="text-align: center;">
        <img style="max-width: 100%;" src="1_config_payment_method.png"><br><br>
    </div>
</div>

<div class="panel-heading">
    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
        Configuration payment method POS
    </div>
    <div class="oe_screenshot" style="text-align: center;">
        <img style="max-width: 100%;" src="2_config_payment_method_record.png"><br><br>
    </div>
</div>

<div class="panel-heading">
    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
        Configiration auto invoice
    </div>
    <div class="oe_screenshot" style="text-align: center;">
        <img style="max-width: 100%;" src="3_config_auto_register_payment.png"><br><br>
    </div>
</div>

<div class="panel-heading">
    <div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
        POS order auto processed to status Invoiced
    </div>
    <div class="oe_screenshot" style="text-align: center;">
        <img style="max-width: 100%;" src="4_pos_order_auto_invoice_and_processing_to_PAID.png"><br><br>
    </div>
</div>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span8">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=thanhchatvn@gmail.com" target="_blank">email </a> </p>
            <ul>
                <li><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=thanhchatvn@gmail.com" target="_blank">thanhchatvn@gmail.com <i class="fa fa-envelope-o"></i></a></li>
            </ul>
            <ul>
                <li><a href="https://apps.odoo.com/apps/modules/browse?author=TL%20Technology" target="_blank">Support me here: My module list</i></a></li>
            </ul>
        </div>
    </div>
</section>
