<section class="oe_container oe_dark" style="overflow: hidden;
background: #efefef;
box-shadow: none;">
    <div class="mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="font-size: 35px;"><b>Import Bulk Purchase Order Using Excel or CSV File.</b></h2>
            <h3 class="oe_slogn"  style=" text-align: center;">Do you have large numbers of orders when you purchase goods from suppliers? and it will takes lots of time to manually add them on Purchase orders one by one? Don't worry we will help you to import them easily with one click.<br/><br/> Think that if you have more then 2000 products lines of products in Purchase order, It will take more then 1 hour to add all of those lines.<br/><br/>Don't get frustrated by that. Installed this apps and you will get import purchase order option which will help you to import bulk lines in single click. <br/><br/>It also help you to import with taxes details and once lines imported, everything will be calculated(Tax Amount, Total Amount etc) automatically same as standard Odoo.</h3>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <section class="oe_container oe_dark lead">
        <div class="oe_row">    
            <div class="oe_span12" style="width: 828px;">
            <div class="panel panel-primary" style="border-color: #528df3 !important;">
            <div class="panel-heading" style="background-color: #528df3 !important;">
            <h3 class="panel-title" style="font-size: 25px;"><i class="fa fa-mail-forward"></i>key features:</h3>
            </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>Import bulk purchase order in onetime
</li>
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>Import bulk purchase order line in onetime
</li>
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>Perfect linked purchase order and order line as per data file.
</li>    
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>If there is need of adding tax you can add multiple tax separate with semicolon but if there is no need of adding tax you have to leave it blank.
</li>
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>You can Import Purchase number which is available in your Database instead of default that Odoo provides. 
</li>
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>You can Import Date which you have in your Database instead of default that Odoo provides
</li>       
                        <li><i class="fa fa-check text-primary" style="color: #528df3 !important;"></i>Easy Warning when import fail due to wrong data (i.e Customer Different on same purchase order, Selected UOM has different uom categoy on product's default UOM,Selected currency is not matched)</li>
                        
                    </ul>
                </div>
                </div>
                </div>
        </div>
    </section>
    </section>

<section class="container mt32">
	<div class="row">
		<h4 class="oe_slogan" style="text-align: center;">
			<span align="center" class="label label-success"
				style="background-color: #528df3;"> <span
				class="fa fa-star fa-spin"></span>How to Import Data of Purchase
				Order.
			</span>
		</h4>
	</div>
</section>
<br>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
		    <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Data File Sample.</strong></h1>
		    <h3 class="text-info" style="font-size: 25px;">Given below is
				the sample of import file.</h3>
            <h1 class="text-info"
				style="text-align: center; padding-bottom: 40px;">You have 3 different options to import purchase order.</h1>
			    <div class="col-md-4">	
			    <h3 class="text-info" style="font-size: 20px;">Import with Code.</h3>
			    <img class="img-border img-responsive thumbnail"
				style="border: 3px solid black;" src="import_code_xls_product_po.png">
				</div>
				<div class="col-md-4">	
			    <h3 class="text-info" style="font-size: 20px;">Import with Barcode.</h3>
			    <img class="img-border img-responsive thumbnail"
				style="border: 3px solid black;" src="import_barcode_xls_product_po.png">
				</div>
				<div class="col-md-4">	
				 <h3 class="text-info" style="font-size: 20px;">Import with Name.</h3>
				 <img class="img-border img-responsive thumbnail"
				style="border: 3px solid black;" src="purchase_tax.png">
				</div>
			<dl style="padding-left: 30px;">
				<dt style="color: #31708f;">PURCHASE ID</dt>
				<dd style="color: #31708f;">- Purchase number for the purchase
					order.</dd>
				<dt style="color: #31708f;">SUPPLIER</dt>
				<dd style="color: #31708f;">- Vendor name for the purchase
					order.</dd>
				<dt style="color: #31708f;">CURRENCY</dt>
				<dd style="color: #31708f;">- Currency for the purchase order.</dd>
				<dt style="color: #31708f;">PRODUCT</dt>
				<dd style="color: #31708f;">- Product name for the purchase
					order.</dd>
				<dt style="color: #31708f;">QUANTITY</dt>
				<dd style="color: #31708f;">- Quantity for the above product.</dd>
				<dt style="color: #31708f;">UOM</dt>
				<dd style="color: #31708f;">- UOM for the above product.</dd>
				<dt style="color: #31708f;">DESCRIPTION</dt>
				<dd style="color: #31708f;">- Description for the product</dd>
				<dt style="color: #31708f;">PRICE</dt>
				<dd style="color: #31708f;">- Price for the above product.</dd>
				<dt style="color: #31708f;">TAX</dt>
				<dd style="color: #31708f;">-Tax for the product</dd>
				<dt style="color: #31708f;">DATE</dt>
				<dd style="color: #31708f;">- Date of purchase order.</dd>
			</dl>

			<h3 class="text-info" style="font-size: 25px;">The "PURCHASE ID"
				should be same, as you can see in the image, "PURCHASE ID" is same
				for different product list.This defines single order with different
				product lines.</h3>
			<h3 class="text-info" style="font-size: 25px;">Tax column is
				important you have to add "Tax column" though there is no need of
				adding tax.</h3>
				
			<h3 class="text-info" style="font-size: 25px;">1. When code is selected in Import option, please select file that contains code of products.</h3>
			<h3 class="text-info" style="font-size: 25px;">2. When barcode is selected in Import option, please select file that contains barcode of products.</h3>
			<h3 class="text-info" style="font-size: 25px;">3. When Name is selected in Import option, please select file that contains name of products.</h3>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
				style="text-align: center; padding-bottom: 40px;">
				<strong>Figure shows the menu for importing data of
					Purchase Orders.</strong>
			</h1>
			<br /> <img class="img-border img-responsive thumbnail"
				style="border: 3px solid black;" src="purchase_order_menu.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
				style="text-align: center; padding-bottom: 40px;">
				<strong>Import Purchase Wizard</strong>
			</h1>
			<h3 class="text-info" style="font-size: 25px;text-decoration: underline;font-weight: bold;"> 1. Sequence Option :</h3><h3 class="text-info" style="font-size: 25px;">If you want to
				import details of purchase number from CSV/XLS you can also have
				option regarding this in import purchase wizard.</h3>
			<h3 class="text-info" style="font-size: 25px;">If you select
				"Use Excel/CSV Sequence Number" option then name field will came
				from CSV/XLS file.</h3>

			<h3 class="text-info" style="font-size: 25px;text-decoration: underline;font-weight: bold;">2. Purchase Stage Option : </h3><h3 class="text-info" style="font-size: 25px;">If you select
				"Import Draft Purchase" option then purchase order will be import in RFQ (Request For Quotation) stage.</h3>

            <h3 class="text-info" style="font-size: 25px;">If you select
				"Confirm Purchase Automatically With Import" option then purchase order will be import in Purchase Order stage.</h3>			
				
			<h3 class="text-info" style="font-size: 25px;text-decoration: underline;font-weight: bold;"> 3. Import Product By :</h3>
            <h3 class="text-info" style="font-size: 25px;">You have also option to import products by it's Name/ Barcode or Code(Internal Reference).</h3>
            <h3 class="text-info" style="font-size: 25px;">If you want to create product while importing purchase order then you have must select import with "Name".</h3>
            
			<br /> <img class="img-border img-responsive thumbnail"
				style="border: 3px solid black;" src="pur_wizard.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
				style="text-align: center; padding-bottom: 40px;">
				<strong>After importing CSV/XLS with "Import Draft Purchase" option then you can see the purchase order is in RFQ stage and Sequance(Purchase Order number) is same as we given in CSV/XLS file.</strong>
			</h1>
			<br /> <img class="img-border img-responsive thumbnail"
				style="border: 3px solid black;" src="purchase_validate_csv.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
				style="text-align: center; padding-bottom: 40px;">
				<strong>Views</strong>
			</h1>
			<h3 class="text-info" style="font-size: 25px;">This is the tree
				of purchase order created from given data file.</h3>
			<br /> <img class="img-border img-responsive thumbnail"
				style="border: 3px solid black;" src="pur_tree_view.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
				style="text-align: center; padding-bottom: 40px;">
			    <strong>
			    If you select "Confirm Purchase Automatically With Import" option then you can see the purchase order is in Purchase Order stage.
					</strong>
			</h1>
			<br />
			<img class="img-border img-responsive thumbnail"
				style="border: 3px solid black;" src="purchase_order_open_stage_option.png"><br/><br/>
			 <img class="img-border img-responsive thumbnail"
				style="border: 3px solid black;" src="purchase_order_open_stage_invoice.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
				style="text-align: center; padding-bottom: 40px;">
				<strong>If you select "Use System Default Sequence Number"
					option then name field will follow the system sequence.</strong>
			</h1>
			<br /> <img class="img-border img-responsive thumbnail"
				style="border: 3px solid black;" src="purchase_wizard_default.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
				style="text-align: center; padding-bottom: 40px;">
				<strong>If all taxes are found in system then purchase
					order will be generated.</strong>
			</h1>
			<br /> <img class="img-border img-responsive thumbnail"
				style="border: 3px solid black;" src="pur_right_tax.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<h1 class="text-info"
				style="text-align: center; padding-bottom: 40px;">
				<strong>It will generate error if you import Unavailable
					UOM,which is shown in Figure.</strong>
			</h1>
			<h3 class="text-info" style="font-size: 25px;">It will also
				generates errors when you import wrong value of
				Currency,Customer,Pricelist,Salesperson and Tax.</h3>
			<br /> <img class="img-border img-responsive thumbnail"
				style="border: 3px solid black;" src="wrong_uom.png">
		</div>
	</div>
</section>


<section class="container mt32">
    <div class="row">
        <h4 class="oe_slogan" style=" text-align: center;"><span align="center" class="label label-success" style="background-color:red;">Installation Guide</span></h4>
            <h3 class="text-info" style="text-align: center;">
                <strong style="color:red;">Before installing this module you have to install following packages in your system.</strong>
            </h3>
            <ul class="list-unstyled" style="font-size:17px;text-align:center;">
                <li class="text-info"><i class="fa fa-circle" style="color: red !important;">  sudo pip install xlrd</i>
                <li class="text-info"><i class="fa fa-circle" style="color: red !important;">  sudo pip install xlwt</i>
                <li class="text-info"><i style="color: red !important;">  OR</i>
                <li class="text-info"><i class="fa fa-circle" style="color: red !important;">  sudo apt-get install python-xlrd</i>
                <li class="text-info"><i class="fa fa-circle" style="color: red !important;">  sudo apt-get install python-xlwt</i>
           </ul>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 20px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
            </p>
        </div>
    </div>
</section>

<section class="oe_container lead">
		<div class="oe_row oe_spaced">
			<div class="oe_span12">
				<h2 class="oe_slogan">
           <a href="http://www.browseinfo.in" target="new">
                <img src="bi_logo.png">
            </a>
            <br>
					<a href="sales@browseinfo.in" style="color: #000000 !important;">
						Get Help &amp; Support</a>
				</h2>
			</div>
			<br>
			<div class="oe_slogan oe_spaced text-center">
				<a class="btn btn-success mt8" title="Website" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.browseinfo.in"> Website </a> <a class="btn btn-success mt8" title="Blog" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="http://www.blog.browseinfo.in"> Blog </a> <a class="btn btn-success mt8" title="Contact Us" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Support </a> <a class="btn btn-success mt8" title="Request New Features now !" style="background-color: #9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Request New Features </a>
			</div>
		</div>
	</section>
