<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">POS Cashier and Salesperson<span><img src="enterprise_and_community.png"></span></h2>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Cashier in POS</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
The login user or session responsible person will be considered as cashier. It is shown on top right corner. 
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="pos_sc_01.png">
            </div>
        </div>
   </div>
</section>

<section class="oe_container">
    <h3 class="oe_slogan">Salesperson in POS</h3>
    <div class="oe_row">
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="pos_sc_02.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                When we click on the sales person name, it will lists all pos users. So login user/ cashier can change the salesperson related to the sales.
                This helps to mark sales of related sales person with one login or one cashier.
            </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Cashier in Order Form</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
            In backend, it will show both sales person and cashier separately.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="pos_sc_03.png">
            </div>
        </div>
   </div>
</section>

<section class="oe_container">
    <h3 class="oe_slogan">Cashier in Order list</h3>
    <div class="oe_row">
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="pos_sc_04.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                In list, it is showing both sales person and cashier as separate columns.
            </p>
        </div>
   </div>
</section>

<section class="oe_container">
<hr>
    <div class="oe_row">
        <h2 class="oe_slogan">Help and Support</h2>
        <h4 class="oe_slogan">For support, new features and customizations.</h4>
        <div class="oe_slogan">
            <img class="center-block" src="tis.png" width="250">
            <p style="text-align: center; color: #0D3B58;">
            <i class="fa fa-globe" aria-hidden="true"> <a href="http://www.technaureus.com/" target="_blank">http://www.technaureus.com/</a></i> | 
            <i class="fa fa-envelope" aria-hidden="true"> <a href="mailto:support@technaureus.com" target="_top">support@technaureus.com</a></i> | 
            <i class="fa fa-skype" aria-hidden="true"> <a href="skype:technaureus?call">technaureus</a></i>
            </p>
            <p style="text-align: center; color: #0D3B58;">
            <a href="https://www.facebook.com/technaureus" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/technaureus" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/106328824399610529659" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UChusfuYvl4Xbf7-RLP5hHFg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="https://www.pinterest.com/technaureus/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company/technaureus-info-solutions?trk=ppro_cprof" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://technaureus.blogspot.in/" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/technaureus/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </p>
        </div>
   </div>
</section>

<section class="oe_container oe_separator">
<p style="text-align: center; color: #0D3B58;background-color:#000000">
<b>
<a href="http://www.odoo.com/apps/modules/browse?author=Technaureus%20Info%20Solutions" target="_blank">Click here for Technaureus Odoo Apps</a>
</b>
</p>
</section>
