<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan oe_mb32">To print</h3>
        <div class="oe_span6">
            <img class="oe_picture" src="print_to_thermal_0.png" />
            <img class="oe_picture" src="print_to_thermal_1.png" />
        </div>
        <div class="oe_span6 text-justify">
            <p class="oe_mt32">
              To configure this module you must go to Settings -&gt; General Settings -&gt; and Select Thermal Printers.
            </p>
            <p class="oe_mt8">
              If then we go to accounting and select one of your invoices to print. When opening it you must select from the central menu print-&gt; invoice ticket, as shown in the image.
            </p>
            <p class="oe_mt8">
                You will be able to run real time statistics and consolidations across all your shops without the hassle of integrating several applications.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan oe_mb32">Print with different printers</h3>
        <div class="oe_span6 text-justify">
            <p class="oe_mt32">
              To add another printer, go to Settings -&gt; General Settings -&gt; and Select Thermal Printers register another ip address in Printer Urls.
            </p>
            <p class="oe_mt8">
              Then, we go to accounting and select one of your invoices to see the options of available printers, for this we access the central menu in the option Thermal printers as it appears in the following image.
            </p>
            <p class="oe_mt8">Finally repeat the previous step.</p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="print_to_thermal_2.png" />
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan oe_mb32">Extends your own layouts</h3>
        <div class="oe_span6">
            <img class="oe_picture" src="print.png" />
        </div>
        <div class="oe_span6 text-justify">
            <p class="oe_mt32">
              Important Point, you must purchase or build your own layout like pack <a href="https://www.odoo.com/apps/modules/browse?search=thermal+layouts"> Thermal Layouts</a>
            </p>
            <p class="oe_mt8">
              Following that examples, you could print on every model
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan oe_mb32">Try it!</h2>
        <div class="oe_span6 text-justify">
            <p class="oe_mt32">
              Use our ready installed server to try how it work!
            </p>
            <p class="oe_mt8">
                url: <a href="http://demos-11.globalresponse.cl/?db=print_to_thermal">http://demos-11.globalresponse.cl/</a>
            </p>
            <p class="oe_mt8">
                user: admin
            </p>
            <p class="oe_mt8">
                user: demo
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
    <div class="oe_span12">
        <h2 class="oe_slogan">Complimentary Support</h2>
            <p>
            You will get 90 days free support for installation, configuration, or reinstallation (excluding data recovery) or any type of issue related to this module.
            </p>
    </div>
    </div>
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
         <div class="oe_slogan oe_spaced">
            <img src="/print_to_thermal/static/description/icon.png" />
            <span><a style="color:#7c7bad;" target="_blank" href="https://globalresponse.cl/helpdesk">Help</a></span>
            <img src="/print_to_thermal/static/description/icon-support.png">
            <span><a style="color:#7c7bad;" target="_blank" href="https://globalresponse.cl/helpdesk">Support</a></span>
            <img src="/print_to_thermal/static/description/icon-features.png">
            <span><a style="color:#7c7bad;" target="_blank" href="https://globalresponse.cl/contactus">Request new Features or a Custom Layout</a></span>
        </div>
    </div>
</section>
