<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">POS Sync Restaurant Orders</h2>
        <h3 class="oe_slogan">Restaurant Staff get or add order details immediately after Waiter taps on tablet</h3>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="panel-heading">
          <div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;"><b>Sync POS Restaurant Orders Features</b></div>
            <img class="oe_picture oe_screenshot" src="resto.png" style="max-width: 80%;"/>
            <div class="oe_span12">
            Available Features :
            <ul>                
                <li>Easily manage our Restaurant orders.</li>
                <li>Syncing tables and allocate them.</li>
                <li>Syncing orders and order lines.</li>
                <li>Syncing waiters.</li>
                <li>Syncing guest numbers.</li>
                <li>Syncing Notes on order.</li>
                <li>Syncing Split order.</li>
                <li>Syncing Transfer new table.</li>
                <li>Syncing Customer set on Order.</li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
      <div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 18px;"><b>1. Configuration</b></div>
      <div class="oe_span12">
          A). Open "Point of Sale => Configuration => Point of Sales" and create or open some Point of Sale record. <br/>
          B). Set Sync-session value (create new one if need) and click the Save button to save your changes. Set the same Sync-session for other "Point of Sale", which should be synced. 
          <img class="oe_picture oe_screenshot" src="1-sync-config.png" style="max-width: 80%;"/>
          C). Flor Setup in Point of Sale.
          <img class="oe_picture oe_screenshot" src="resto-conf.png" style="max-width: 80%;"/>
          D). Sync-session Configuration.
          <img class="oe_picture oe_screenshot" src="2-syn(multo session).png" style="max-width: 80%;"/>
      </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
      <div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 18px;"><b>2. Sync Restaurant Orders view on POS screen</b></div>
      <div class="oe_span12">
          <ul>
                <li>Login as Admin User as Casiar on Main</li>
                <li>Login as Demo User as Cation on POS1</li>
            </ul> 
          <img class="oe_picture oe_screenshot" src="tab synch.png" style="max-width: 80%;"/>
      </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
      <div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 18px;"><b>3. Sync Restaurant Session will be displayed as follows</b></div>
      <div class="oe_span12"> 
        <img class="oe_picture oe_screenshot" src="resto-cart-view.png" style="max-width: 80%;"/>
      </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced text-center">

        <div class="oe_span12">
            <div class="text-center">
                <h1><a href="https://youtu.be/jmD5gJX2tfE" target="_blank">
                    <i class="fa fa-youtube-play"></i> Demo video (Sync POS Restaurant Orders)
                </a></h1>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="row oe_spaced">
        <div style="border: 0;margin: 40px 0;height: 4px;border-top: #ddd 1px solid;border-bottom: #ddd 1px solid;text-align: center;position: relative;clear: both;">
            <i style="color: #FF9800;background: #fff;text-align: center;display: inline-block;height: 50px;line-height: 50px;text-align: center;font-size: 30px;position: absolute;top: -25px;margin: 0 auto 0 -225px;"> Technical Help , Queries &amp; Support
            </i>
        </div>
        <div class="separator" style="display: block;width: 80px;height: 2px;margin: 15px auto 15px;background-color: #FF9800;position: relative; border: 1px solid #FF9800;"></div>
        <div class="row">
            <center>
                <p>For any other assistance related to the new Odoo feature, customization or Odoo Development.</p>
            </center>
            <div class="col-md-6 text-center">
                <img class="oe_picture" src="logo.png" />
                <h2 style="letter-spacing: 18px;margin-left: 35px;">
                  <a target="new" href="https://www.facebook.com/ipredictitsolutions">
                    <i class="fa fa-facebook-square" style="font-size:30px; color: #3B5998 !important;"></i>
                  </a>
                  <a target="new" href="https://twitter.com/iPredict_It">
                    <i class="fa fa-twitter-square" style="font-size:30px; color: #55ACEE !important;"></i>
                  </a>
                  <a target="new" href="http://ipredictitsolutions.com/www.linkedin.com/in/ipredict-it-solutions">
                    <i class="fa fa-linkedin-square" style="font-size:30px; color: #007bb5 !important;"></i>
                  </a>
                  <a target="new" rel="publisher" href="https://plus.google.com/u/3/109794111161325931553">
                    <i class="fa fa-google-plus-square" style="font-size:30px; color: #dd4b39 !important;"></i>
                  </a>
              </h2>
            </div>
            <div class="col-md-6 mt32">
                <a style="color: rgb(255, 255, 255); background-color: #EBA129; border: 1px solid #EBA129; position: relative; overflow: hidden;" class="btn btn-success btn-sm mt16 ml32" rel="nofollow" href="http://ipredictitsolutions.com/" target="_blank">
                    <i class="fa fa-globe"></i> Website
                </a>
                <br/>
                <a style="color: rgb(255, 255, 255); background-color: #E09A25; border: 1px solid #E09A25; position: relative; overflow: hidden;" class="btn btn-success btn-sm mt8 ml32" rel="nofollow" href="http://ipredictitsolutions.com/contactus" target="_blank">
                    <i class="fa fa-check-square"></i>  Request Customization 
                </a>
                <br/>
                <a style="color: rgb(255, 255, 255); background-color: #D08E22; border: 1px solid #D08E22; position: relative; overflow: hidden;" class="btn btn-success btn-sm mt8 ml32" rel="nofollow" href="mailto:ipredictitsolutions@gmail.com">
                    <i class="fa fa-envelope"></i> Support/Help! Send Mail
                </a>
                <br/>
                <a style="color: rgb(255, 255, 255); background-color: #2CA9DB; border: 1px solid #2CA9DB; position: relative; overflow: hidden;" class="btn btn-success btn-sm mt8 ml32" rel="nofollow" href="skype:live:ipredictitsolutions?chat">
                    <i class="fa fa-skype"></i> live:ipredictitsolutions
                </a>
            </div>
        </div>
    </div>
</section>
