<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Create Account Invoice from Point of Sale</h2>
        <h3 class="oe_slogan">Create Account Invoice with single click.</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="create_order.gif">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Also easily find all created Account Invoices from Point of Sale</h2>
        <div class="oe_demo oe_screenshot">
            <img src="orders.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Group and filter Invoices and by Point of Sale</h2>
        <h3 class="oe_slogan" style="color:#875A7B;">Filter</h3>
        <div class="oe_demo oe_screenshot">
            <img src="filter.png">
        </div>
        <h3 class="oe_slogan" style="color:#875A7B;">Group by</h3>
        <div class="oe_demo oe_screenshot">
            <img src="group_by.png">
        </div>
    </div>
</section>



<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Easily configurable in POS settings</h2>
        <h3 class="oe_slogan">Disable/Enable and choose future Invoice status</h3>
        <div class="oe_demo oe_screenshot">
            <img src="config.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Have questions or need additional functionality?</h2>
        <h3 class="oe_slogan">Contact me via email:</h3>
        <h3 class="oe_slogan">lab.stone.red@gmail.com</h3>
    </div>
</section>


