<head>
  <style>
      .backgrounds{background-color:#fff; color:#0B80E6}
  </style>
</head>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <a href="http://www.almightycs.com/blog/news-1/post/set-import-product-image-from-url-odoo-16" target="_blank">
                <h2 class="oe_slogan">Set/Import Product Image From URL</h2>
            </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <p class="oe_slogan"><br/>In many cases we like to get product Image Directly from URl instead of downloading and uploading image from URL.<br/><br/>When we are importing data from older system to new system we need to set images of product from older URL. You can set product image from URL in individual product using form view. When you set URL and save record it will set image automatically.
            </p>
        </div>
        <div class="oe_span6 oe_mt64">
            <a href="http://www.almightycs.com/blog/news-1/post/set-import-product-image-from-url-odoo-16" target="_blank">
                <img src="product_image_from_url_odoo_almightycs.png" width="100%">
            </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_mt32 mb32">
            <h4 class="">Many times you will want to import products from other systems using the odoo import feature but odoo does not offer an out-of-the-box feature to import product images. Using this module you can import the Product Image from URL. 
            <ul>
                <li>Simply Add 'Image URL' column in your csv import file.</li>
                <li>Import your products using your import file by mapping Image URL field.</li>
                <li>Nothing else to do just validate and import. It will load product images automatically.</li>
            </ul>
            </h4>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <a href="http://www.almightycs.com" target="_blank">
                    <img src="yoo.png" width="200" height="auto">
                </a>
                <div class="oe_demo_footer oe_centeralign">Meet Us</div>
            </div>
        </div>
        <div class="oe_span6">
            <h2 class="oe_slogan">Do you need help?</h2>
            <h3 class="oe_slogan">
                Let's offer you the best services!
            </h3>
            <p class="oe_mt32 text-center">
                Contact us by our official channels.
            </p>
            <p class="oe_mt32 text-center">
                Skype: turkesh4friends 
            </p>
            <div class="oe_spaced">
                <ul class="text-center list-inline">
                    <li>
                        <a href="https://in.linkedin.com/pub/patel-turkesh/1b/51b/32b" Target="_blank"><i class="fa fa-linkedin-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/public/Turkesh-Patel" Target="_blank"><i class="fa fa-facebook-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/tpa-odoo" Target="_blank"><i class="fa fa-github-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+TurkeshPatel" Target="_blank"><i class="fa fa-google-plus-square fa-xs backgrounds"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/turkeshpatel?lang=en" Target="_blank" ><i class="fa fa-twitter-square fa-xs backgrounds"></i></a>
                    </li>

                    <li>
                        <a title="Contact us" data-toggle="tooltip" data-placement="left" Target="_blank" href="http://www.almightycs.com/page/website.contactus"><i class="fa fa-envelope-square fa-xs backgrounds"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>


