
<!--		 main  Features block-->
<section class="oe_container oe_dark lead" style="padding-top:50px;">
														<!--				main heading /title-->
		<h2> 
			<font>
				<p class="text-primary text-center" style="color:#004460;" ><b>Unique Product on Sale,Purchase and Invoice</b>
				<br>Raise a warning when same Product repeated on Sale,Purchase and Invoice lines</p>
			</font>
		</h2> 
	<div class="oe_row">    
    	<div class="oe_span12">
        	<div class="panel panel-primary" id="wkid0" style="border-color:#00cc99;">

<!--												first block main heading-->
        		<div class="panel-heading" style="background-color:#004460;">
        			<h3 class="panel-title" style="font-size: 25px;"  >
						<b> DevIntelle Consulting Service Pvt.Ltd.</b>
					</h3>
       			 </div>
            	<div class="panel-body">
<!--									first block sub heading 1-->
            	<div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#1ab2ff;">
					<i class="fa fa-arrow-circle-o-right" style="color:white;"></i> 
						<b style="color:white;"> Features </b>
				</div>
<!--						first block sub contain 2-->
           		<ul class="list-unstyled ">
           		 <li> <i class="fa fa-hand-o-right text-primary"></i>raise a warning when same Product repeated on Sale,Purchase and Invoice lines</b></li>

            </ul>
          </div>
        </div>
    </div>
</div>
</section>

<!--					setup block -->
<section class="oe_container oe_dark lead">
	<div class="oe_row">    
    	<div class="oe_span12">
    		<div class="panel panel-success" id="wkid2" style="border-color:#004460;">
   				 <div class="panel-heading" style="background-color:#004460;">
   					 <h3 class="panel-title" style="font-size: 25px;">
						<i class="fa fa-cogs" style="color:white;"></i> 
						<b style="color:white;">Setup &amp; Configure</b> 
					</h3>
    			</div>  
       			<div class="panel-body">
        		<div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#1ab2ff;">
					<i class="fa fa-cog" style="color:white;"></i> 
<!--															secon block heading subtitle 1-->
						<b style="color:white;">How to Work </b>
				</div>    
			      
       			<p>
					<img class="oe_picture oe_screenshot" src="sale_order_not_allow.png" alt="DevIntelle Consulting Service Pvt.Ltd.">
				</p>
				<p> <i>Raise a warning when same Product repeated on Sale Order</i>
      			 </p>
      			 <div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
					<i class="fa fa-arrow-circle-o-right" style="color:white;"></i>
						 <b style="color:white;">Sale Order</b>
				</div>	

       		<p>
       		    
		</p>
       <p>
       <img class="oe_picture oe_screenshot" src="sale_order_allow.png" alt="DevIntelle Consulting Service Pvt.Ltd."></p><p>
        	</p>
        	
        	<div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
					<i class="fa fa-arrow-circle-o-right" style="color:white;"></i>
						 <b style="color:white;">Purchase Order</b>
				</div>	

       		<p>
       		
		</p>
		    <i>Raise a warning when same Product repeated on Purchase Order   </i>
       <p>
       <img class="oe_picture oe_screenshot" src="purchase.png" alt="DevIntelle Consulting Service Pvt.Ltd."></p><p>
        	</p>
        	
        	<div class="alert alert-success" style="padding:8px;font-weight: 300; font-size: 20px;background-color:#004460;">
					<i class="fa fa-arrow-circle-o-right" style="color:white;"></i>
						 <b style="color:white;">Account Invoice</b>
				</div>	

       		<p>
       		<i>Raise a warning when same Product repeated on Invocie </i>
		</p>
       <p>
       <img class="oe_picture oe_screenshot" src="invoice.png" alt="DevIntelle Consulting Service Pvt.Ltd."></p><p>
        	</p>
        	
<!--																				second block heading subtitle 3-->
	</div>
	</div>
   </div>
</div>
</div>
</section>
<!--							Footer block-->

<!-- Fifth block -->
<section class="oe_container">
    <div class="oe_row oe_spaced">
        
	<div class="oe_span6">
            <div class="oe_picture">
                    <a href="http://devintellecs.com"><img src="logo.png" width="100%" alt="DevIntelle Consulting Service Pvt.Ltd.(Only Odoo Development)"></a>
            </div>
        </div>
	<div class="oe_span6">
		 <div class="text-center">
            <a style="color: #FFF; background-color: #004460; border: 1px solid #004460;" class="btn btn-success btn-lg" rel="nofollow" href="http://www.devintellecs.com/" target="_blank">
                <i class="fa fa-envelope"></i> Contact Us
            </a>
        </div>
            <p class="oe_mt32">
				For any other assistance related to the new Odoo feature, customization or Odoo Development.Our Odoo experts will help you to build your business.</p>
           
        </div>
    </div>
     <div class="text-center">
            <a style="color: #FFF; background-color: #004460; border: 1px solid #004460;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.odoo.com/apps/modules/browse?search=devintelle" target="_blank">
                <i class="fa fa-hand-o-right" aria-hidden="true"></i> Our More Apps
                <i class="fa fa-hand-o-left" aria-hidden="true"></i>
            </a>
        </div>
</section>

