<section class="oe_container">
        <section>
            <div>
                <h2 class="oe_slogan">Sale Order Priceunit redonly for Specific users</h2>
            </div>
        </section>
        <section class="oe_container">
            <section class="oe_container">
                <div class="oe_row oe_spaced">
                    <div class="oe_row_img oe_centered">
                    	<span>-Configure User permission for price unit readonly</span>
                        <img class="oe_picture oe_screenshot" src="config.png">
                        <h2 style="text-align: center"><i aria-hidden="true" class="fa fa-arrow-down"></i></h2>
                        <span>-Example for user having readonly enabled</span>
                        <img class="oe_picture oe_screenshot" src="price_readonly_user.png">
                        <h2 style="text-align: center"><i aria-hidden="true" class="fa fa-arrow-down"></i></h2>
                        <span>-Example for user having readonly not enabled</span>
                        <img class="oe_picture oe_screenshot" src="price_readonly_not_enable.png">
                    </div>
                </div>
            </section>
        </section>
    <section class="oe_container">
            <div class="oe_row oe_spaced">
                <div class="oe_span12">
                    <h2 class="oe_slogan">Contact / Support</h2>
                    <h3 class="oe_slogan">Need help or want extra features?</h3>
                </div>
                <div class="oe_span6">
                    <div class="oe_demo oe_picture oe_screenshot">
                        <a href="http://www.amzsys.com/"><img src="icon-link.png" style="max-width:100%;max-height:100%;"></a>
                    </div>
                </div>
                <div class="oe_span6">
                    <p class="oe_mt32">
                        Need help with the configuration or want this module to have more
                        functionalities? <br> <b>Contact us on</b>
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item ">E Mail : <a href="mailto:" contact="">info@amzsys.com</a></li>
                    </ul>
                </div>
            </div>
    </section>
</section>
