<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="oe_slogan">Pos Floor Management</h2>
            <h3 class="oe_slogan">Easy way to manage restaurant floors and tables</h3>
        </div>
    </div>
    <div class='oe_span12'>
        Features
        <ul>
            <li>Easy way to manage restaurant floors and tables.</li>
            <li>We don't need to create same floors and tables multiple time for different pos configurations.</li>
        </ul>
    </div>
    <div class='oe_span12'>
       1. Configuration of tables.
    </div>
    <div class='oe_span12'>
        <img class="oe_picture oe_screenshot" src="floor.jpg">
    </div>
    <div class='oe_span12'>
        <h1 align="center">
           If You Need Any Help Please Contact
        </h1>
        <h3 align="center">
            Email Id: dev.webveer@gmail.com
        </h3>
    </div>
    </div>
</section>