<section class="oe_container oe_dark" style="overflow: hidden;
background: #efefef;
box-shadow: none;">
    <div class="mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan" style="font-size: 35px;"><b>Inventory Generate By CSV or XLS file.</b></h2>
            <h3 class="oe_slogn"  style=" text-align: center;"> Getting started with Odoo? Or your inventory get messup ? Don't worry we will help you on that part.<br/><br/>When you are new bie with Odoo and just started then everyone want to import their initial inventory balance from other software or may be from excel file.<br/><br/>Here we provide feature to import your inventory easily in one click on all products,Or if your inventory get messup and not correct and you have correct inventory managed with the excel file then again this apps works. <br/><br/>We need to import inventory adjustment on odoo and all inventory data get corrected easily<br/><br/>Use this import plugin make file format as we shown on module description and follow guildelines on module. When you import file in one click you inventory(product stock) get corrected or imported .</h3>
        </div>
    </div>
</section>


<section class="container mt32">
    <div class="row">
        <h4  style=" text-align: center;"><span> <a href="https://www.youtube.com/watch?v=bG7ImzFkSfo" target="_blank" class="btn btn-sm btn btn-primary" ><span class="o_ripple" ></span><i class="fa fa-youtube-play"></i>
            Click here for the video tutorial
          </a></h4>
    </div>
</section>

<section>
<div class="container mt32">
    <div class="col-md-12 mb32">
        <div class="col-md-4">
            <div class="text-center">
                <div class="text-center">
                    <i class="fa fa-file-excel-o fa-4x" style="color:#528df3;"></i>
                    <h4>CSV/XLS File Format.</h4>
                    <div class="dt-iconboxes-text">
                        <p style="text-align: justify;">
                        You can import CSV or XLS file both as per as your convinience. In this module sample of import files are given,It is mandatory to use given format to create CSV or XLS file.You need to maintain the column order.
                    </p></div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="text-center">
                <div class="dt-iconboxes layout-6">
                    <i class="fa fa-question-circle fa-4x" style="color:#528df3;"></i>
                    <h4> Support For 90 Days</h4>
                    <div class="dt-iconboxes-text">
                        <p style="text-align: justify;">
                        As this module is the very useful for all type of Industries. You can contact us for any Query regarding this Module.
                        </p>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</section>

<section class="container mt32">
    <div class="row">
        <h4 class="oe_slogan" style=" text-align: center;"><span align="center" class="label label-success " style="background-color:#528df3;"> <span class="fa fa-star fa-spin"></span> How to Import Data of Inventory</span></h4>
    </div>
</section>

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>This is the file format you need to follow to import inventory data.</strong></h1>
                <br/>
                <div class="col-md-4">  
            <img class="img-border img-responsive thumbnail"
                style="border: 3px solid black;" src="inv_code_import.png"></div>
            <div class="col-md-4">   <img class="img-border img-responsive thumbnail"
                style="border: 3px solid black;" src="inv_barcode_import.png"></div>
            <div class="col-md-4">   
                 <img class="img-border img-responsive thumbnail"
                style="border: 3px solid black;" src="inv_name_import.png"></div>
            <h3 class="text-info" style="font-size: 25px;">1. When code is selected in Import option, please select file that contains code of products.</h3>
            <h3 class="text-info" style="font-size: 25px;">2. When barcode is selected in Import option, please select file that contains barcode of products.</h3>
            <h3 class="text-info" style="font-size: 25px;">3. When Name is selected in Import option, please select file that contains name of products.</h3>
            
            </div>
        </div>
    </section> 

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Figure shows the menu for importing data of Inventory.</strong></h1>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="imp_inv_menu.png">
            </div>
        </div>
    </section> 

<section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Import Inventory Wizard: In this wizard you have to upload properly formated CSV or XLS file which you want to import.</strong></h1>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="inv_wizard_v9.png">
            </div>
        </div>
    </section> 

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h1 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Here, we can check the inventory generated and goes to the progress state.</strong></h1>
            <h3 class="text-info" style="font-size: 25px;">You can import inventory of products by Internal Reference or Barcode.</h3>
                <br/>
                <img class="img-border img-responsive thumbnail" style="border: 3px solid black;" src="view.png">
            </div>
        </div>
    </section> 
    
<section class="container mt32">
    <div class="row">
        <h4 class="oe_slogan" style=" text-align: center;"><span align="center" class="label label-success" style="background-color:red;">Installation Guide</span></h4>
            <h3 class="text-info" style="text-align: center;">
                <strong style="color:red;">Before installing this module you have to install following packages in your system.</strong>
            </h3>
            <ul class="list-unstyled" style="font-size:17px;text-align:center;">
                <li class="text-info"><i class="fa fa-circle" style="color: red !important;">  sudo pip install xlrd</i>
                <li class="text-info"><i class="fa fa-circle" style="color: red !important;">  sudo pip install xlwt</i>
                <li class="text-info"><i style="color: red !important;">  OR</i>
                <li class="text-info"><i class="fa fa-circle" style="color: red !important;">  sudo apt-get install python-xlrd</i>
                <li class="text-info"><i class="fa fa-circle" style="color: red !important;">  sudo apt-get install python-xlwt</i>
           </ul>
    </div>
</section>

<section class="oe_container lead">
        <div class="oe_row oe_spaced">
            <div class="oe_span12">
            <h3 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong>Also note that this plugin doesn't import inventory with serial number , if are tracking your stock with lot number or serial number don't get confused we have another plugin available for that which allows you to import stock with serial number or lot number.Please check module link attached below.</strong></h3>
            <h2 class="text-info" style="text-align: center;padding-bottom: 40px;"><strong> <a style="color:red;" href="https://www.odoo.com/apps/modules/10.0/import_inventory_serial_number/">Import stock with Serial number/Lot number.</a></strong></h2> 
            </div>
        </div>
    </section> 
    
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
            <h3 class="oe_slogan" style="font-size: 20px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
            <p class="oe_slogan">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis & consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support
            </p>
        </div>
    </div>
</section>


<section class="oe_container lead">
    <div class="oe_row oe_spaced">

		<div class="oe_span12">
				<h2 class="oe_slogan">
           <a href="http://www.browseinfo.in" target="new">
                <img src="bi_logo.png"/>
            </a>
            <br/>
	
        <div class="oe_span12">
            <h2 class="oe_slogan"><a href="sales@browseinfo.in" style="color: #000000 !important;"> Get Help &amp; Support</a></h2>
        </div>
        <br>
        <div class="oe_slogan oe_spaced text-center"> 
<a class="btn btn-success mt8" title="Website" style="background-color:#9B0F4E; color: #FFFFFF !important;" href="http://www.browseinfo.in"> Website </a>
            <a class="btn btn-success mt8" title="Blog" style="background-color:#9B0F4E; color: #FFFFFF !important;" href="http://www.blog.browseinfo.in"> Blog </a>
            <a class="btn btn-success mt8" title="Contact Us" style="background-color:#9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Support </a>
            <a class="btn btn-success mt8" title="Request New Features now !" style="background-color:#9B0F4E; color: #FFFFFF !important;" href="mailto:sales@browseinfo.in"> Request New Features </a>
        </div>
    </div>
</section>

